.DS_Store
intro/.DS_Store
template.ipynb

//Ignore anything from using uv
.venv/
.vscode/
src/
.python-version
pyproject.toml
uv.lock

//Remove working python files
*.py

//Remove files when previewing notebooks
*files/
*.html