.DS_Store
intro/.DS_Store
template.ipynb

//Ignore anything from using uv
.venv/
.vscode/
src/
.python-version
pyproject.toml
uv.lock

//Remove files when previewing notebooks
*files/
*.html

//To stop uploading of participant metadata
meta*.csv

//To stop uploading individual csv files for `logging.R` script
*_tmp/